.header
    height: 120px
    background-image: url('../assets/images/header-bg.jpeg')
    background-size: cover
    display: flex
    justify-content: center
    align-items: center

    h1
        font-family: 'Univers'
        font-size: 35px
        padding: 0 20px

    ul
        display: flex
        align-items: center
        font-size: 25px

        li
            padding: 0 10px

            a
                transition: all 0.2s ease-in-out

                &:hover
                    text-shadow: 0 0 5px
                    transition: all 0.3s ease-in-out
