html
    background-color: $black
    color: $white
    font-family: 'MS PGothic'
    letter-spacing: 1px
    text-align: center
    user-select: none

a
    text-decoration: none
    color: $white

.error
    background-color: $red
    padding: 20px

.title
    position: relative
    margin: 50px 0

    h1
        font-size: 30px
        font-family: 'Template Gothic'
        background-color: $blue
        color: $black
        width: 240px
        position: absolute
        top: -28px
        left: 25%
        transform: translateX(-50%)
        z-index: 2
        padding: 10px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

    hr
        margin-top: 20px
        border: 1px solid $white
